In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [65]:
data = pd.read_csv(r"C:\Users\n.rahman\OneDrive - BALADNA\Desktop\BALADNA\Ex Docs\SCALER-DSML\Module 6 - DAV - Pandas\melb_data.csv")
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [67]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [68]:
data.dropna(axis=0, inplace=True)

In [69]:
data = data.reset_index()
data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
1,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
2,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
3,6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
4,7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6196 entries, 0 to 6195
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          6196 non-null   int64
 1   Suburb         6196 non-null   object
 2   Address        6196 non-null   object
 3   Rooms          6196 non-null   int64
 4   Type           6196 non-null   object
 5   Price          6196 non-null   float64
 6   Method         6196 non-null   object
 7   SellerG        6196 non-null   object
 8   Date           6196 non-null   object
 9   Distance       6196 non-null   float64
 10  Postcode       6196 non-null   float64
 11  Bedroom2       6196 non-null   float64
 12  Bathroom       6196 non-null   float64
 13  Car            6196 non-null   float64
 14  Landsize       6196 non-null   float64
 15  BuildingArea   6196 non-null   float64
 16  YearBuilt      6196 non-null   float64
 17  CouncilArea    6196 non-null   object
 18  Lattitude      6196 non-null   float64
 19  Longtitude     6196 non-null   float64
 20  Regionname     6196 non-null   object
 21  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(2), object(8)
memory usage: 1.0+ MB

In [71]:
#prediction target - This is the column we want to predict based on the features selections

y = data["Price"]
y

0       1035000.0
1       1465000.0
2       1600000.0
3       1876000.0
4       1636000.0
          ...
6191     601000.0
6192    1050000.0
6193     385000.0
6194     560000.0
6195    2450000.0
Name: Price, Length: 6196, dtype: float64

In [72]:
#Choosing Features - columns that are inputted into our model (and later used to make predictions) are called "features."

features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [73]:
#By convention, this data is called X.
X = data[features]
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     156.0   -37.8079    144.9934
1      3       2.0     134.0   -37.8093    144.9944
2      4       1.0     120.0   -37.8072    144.9941
3      3       2.0     245.0   -37.8024    144.9993
4      2       1.0     256.0   -37.8060    144.9954

In [74]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

### Building the model

- You will use the scikit-learn library to create your models. When coding, this library is written as sklearn, as you will see in the sample code. Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.

**The steps to building and using a model are:**

- Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
- Fit: Capture patterns from provided data. This is the heart of modeling. Fitting a model is nothing but training the model with data
- Predict: Just what it sounds like
- Evaluate: Determine how accurate the model's predictions are.

Here is an example of defining a decision tree model with scikit-learn and fitting it with the features and target variable.

In [75]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
model = DecisionTreeRegressor(random_state=1)

# Fit model
model.fit(X, y)

DecisionTreeRegressor(random_state=1)

## Predicting the model with training data itself to see working, only 5 houses

We now have a fitted model that we can use to make predictions.

In practice, you'll want to make predictions for new houses coming on the market rather than the houses we already have prices for. But we'll make predictions for the first few rows of the training data to see how the predict function works.

In [76]:
print("Prediciton for the following 5 houses")
print(X.head())
print("The Predictions are")
print(model.predict(X.head()))

Prediciton for the following 5 houses
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     156.0   -37.8079    144.9934
1      3       2.0     134.0   -37.8093    144.9944
2      4       1.0     120.0   -37.8072    144.9941
3      3       2.0     245.0   -37.8024    144.9993
4      2       1.0     256.0   -37.8060    144.9954
The Predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

## Model Validation

Measure the performance of your model, so you can test and compare alternatives.
There are many metrics for summarizing model quality, we will use Mean Absolute Error here (also called MAE)

In [77]:
from sklearn.metrics import mean_absolute_error

In [78]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6196 entries, 0 to 6195
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rooms       6196 non-null   int64
 1   Bathroom    6196 non-null   float64
 2   Landsize    6196 non-null   float64
 3   Lattitude   6196 non-null   float64
 4   Longtitude  6196 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 242.2 KB

In [79]:
#full data prediction, again we are taking here the training data itself for prediction. 
predicted_home_prices = model.predict(X)
predicted_home_prices[:25]

array([1035000., 1465000., 1600000., 1876000., 1636000., 1097000.,
       1350000.,  750000., 1310000., 1200000., 1176500.,  890000.,
       1330000.,  500000., 1100000., 1315000., 1447500., 1135000.,
       1290000.,  470000., 1180000., 1195000., 1012500., 1030000.,
        840000.])

### Summarizing the model Quality using Mean Absolute Error

So, if a house cost 150,000 and you predicted it would cost 100,000 the error is 50,000.

With the MAE metric, we take the absolute difference value of each error(actual-predicted). This converts each error to a positive number. We then take the average of those absolute errors. This is our measure of model quality. In plain English, it can be said as

On average, our predictions are off by about X.

In [80]:
mean_absolute_error(y,predicted_home_prices) #y is the target variable of price and predicted_homes_prices are the new price

1115.7467183128902

### Splitting the data for traning and validation

Since models' practical value come from making predictions on new data, we measure performance on data that wasn't used to build the model. The most straightforward way to do this is to exclude some data from the model-building process, and then use those to test the model's accuracy on data it hasn't seen before. This data is called validation data.

The scikit-learn library has a function train_test_split to break up the data into two pieces. We'll use some of that data as training data to fit the model, and we'll use the other data as validation data to calculate mean_absolute_error.

In [82]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, validation_X, train_y, validation_y = train_test_split(X, y, random_state = 0)

In [84]:
#Define the model.

new_model = DecisionTreeRegressor()

#Fit the model

new_model.fit(train_X,train_y)

#predict the model with new or validation data X
model_prediction = new_model.predict(validation_X)
print(model_prediction[:10])

#calculate the mean absolute difference from the predicted model and target validation price to see the quality of model

model_quality = mean_absolute_error(validation_y,model_prediction)
print("MAE",model_quality)

[ 950000.  550000. 1015000. 1590000.  630000.  591000.  885000. 1634000.
 1155000.  715000.]
MAE 275369.68624919304

Your mean absolute error for the in-sample data was about 1115 dollars. Out-of-sample it is more than 275,000 dollars.

This is the difference between a model that is almost exactly right, and one that is unusable for most practical purposes. As a point of reference, the average home value in the validation data is 1.1 million dollars. So the error in new data is about a quarter of the average home value.

There are many ways to improve this model, such as experimenting to find better features or different model types.

## Underfitting and Overfitting

In practice, it's not uncommon for a tree to have 10 splits between the top level (all houses) and a leaf.
When we divide the houses amongst many leaves, we also have fewer houses in each leaf. Leaves with very few houses will make predictions that are quite close to those homes' actual values, but they may make very unreliable predictions for new data (because each prediction is based on only a few houses).

This is a phenomenon called overfitting, where a model matches the training data almost perfectly, but does poorly in validation and other new data. On the flip side, if we make our tree very shallow, it doesn't divide up the houses into very distinct groups.

At an extreme, if a tree divides houses into only 2 or 4, each group still has a wide variety of houses. Resulting predictions may be far off for most houses, even in the training data (and it will be bad in validation too for the same reason). When a model fails to capture important distinctions and patterns in the data, so it performs poorly even in training data, that is called underfitting.

Since we care about accuracy on new data, which we estimate from our validation data, we want to find the sweet spot between underfitting and overfitting.

There are a few alternatives for controlling the tree depth, and many allow for some routes through the tree to have greater depth than other routes. But the **max_leaf_nodes** argument provides a very sensible way to control overfitting vs underfitting. The more leaves we allow the model to make, the more we move from the underfitting area in the above graph to the overfitting area.

Will write function to help compare MAE scores from different values for max_leaf_nodes:

In [114]:
#rewriting the whole code once again to compare the MAE with different max_leaf_nodes

from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [115]:
y #target variable

0       1035000.0
1       1465000.0
2       1600000.0
3       1876000.0
4       1636000.0
          ...
6191     601000.0
6192    1050000.0
6193     385000.0
6194     560000.0
6195    2450000.0
Name: Price, Length: 6196, dtype: float64

In [116]:
features #feature variables on which the model will be trained along with target variable

['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [117]:
X.head() #feature dataset

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     156.0   -37.8079    144.9934
1      3       2.0     134.0   -37.8093    144.9944
2      4       1.0     120.0   -37.8072    144.9941
3      3       2.0     245.0   -37.8024    144.9993
4      2       1.0     256.0   -37.8060    144.9954

In [118]:
train_X,val_X,train_y,val_y = train_test_split(X,y, random_state=0)
train_X.head()

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
5300      3       1.0     206.0  -37.87107   145.04991
3164      2       1.0       0.0  -37.85900   144.97670
4455      2       1.0    2701.0  -37.81090   144.86840
3603      3       1.0     670.0  -37.81340   144.87450
428       6       3.0     708.0  -37.91810   145.04400

In [119]:
train_y.head()

5300    1060000.0
3164     390000.0
4455     502000.0
3603    1055000.0
428     1900000.0
Name: Price, dtype: float64

In [120]:
val_X.head()

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
2669      2       1.0      96.0  -37.85010   144.99530
1281      2       1.0       0.0  -37.89020   144.99070
5154      2       1.0     136.0  -37.85542   144.99571
2006      3       2.0     205.0  -37.79930   145.02670
2701      2       1.0     400.0  -37.73520   144.98520

In [121]:
val_y.head()

2669     815000.0
1281     655000.0
5154     957500.0
2006    1330000.0
2701     722000.0
Name: Price, dtype: float64

In [122]:
#with max_leaf_node =5 and training the model
model3 = DecisionTreeRegressor(max_leaf_nodes=5,random_state=0)
model3.fit(train_X,train_y)

DecisionTreeRegressor(max_leaf_nodes=5, random_state=0)

In [123]:
#predicting with model
model3_prediction = model3.predict(val_X)
model3_prediction

array([677877.91612484, 677877.91612484, 677877.91612484, ...,
       677877.91612484, 677877.91612484, 677877.91612484])

In [124]:
#model validation with predicted price and validation data actual price

model3_mae = mean_absolute_error(val_y,model3_prediction)
print(model3_mae)

#so with max_leaf node 5 MAE is 385k

385696.54278937966

## Checking for another max_leaf_nodes and checking the MAE.

In [128]:
#lets do this for another max_leaf_nodes and cacluationg the MAE.

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [129]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 500  		 Mean Absolute Error:  261718
Max leaf nodes: 5000  		 Mean Absolute Error:  271320

### So of the options listed, 500 leaf nodes is the optimal number of leaves.

---------------------------------------------------------------------------------------------------------------------------

## Building the model using Random Forest Regressor

A Random Forest Regressor is a collection (or "forest") of many decision trees working together.

Instead of relying on a single decision tree, it builds many trees (often hundreds) on different random subsets of the data.
Each tree makes its own prediction, and the final prediction is the average of all these trees predictions. So it reduces overfitting by averaging multiple trees predictions, leading to better generalization. Less sensitive to data variations due to the randomness in tree building.

In [135]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

#creating the random forest model
model_forest = RandomForestRegressor(random_state=1)

#training the model based on the split data done above
model_forest.fit(train_X,train_y)

#predicting the price of model based on validation data
model_pred = model_forest.predict(val_X)

In [136]:
model_pred

array([ 918290.        ,  673345.        , 1167803.33333333, ...,
        252920.        ,  945530.        , 1318470.        ])

In [137]:
#calculating the MAE

forest_mae = mean_absolute_error(val_y,model_pred)
print(forest_mae)

207190.6873773146

There is likely room for further improvement, but this is a big improvement over the best decision tree error of 250,000. There are parameters which allow you to change the performance of the Random Forest much as we changed the maximum depth of the single decision tree. But one of the best features of Random Forest models is that they generally work reasonably even without this tuning.